body {
    background: url('../images/background_login.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.login-container {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    overflow: hidden;
    max-width: 750px;
    width: 100%;
}
.form-container {
    background-color: #FF735D;
    padding: 2rem;
    flex: 1;
}
.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}
.image-container img {
    max-width: 80%;
    height: auto;
}