body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-content {
    margin-left: 240px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #343a40;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table-bordered {
    border: 1px solid #ddd;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.table-striped tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.table tr:hover {
    background-color: #f1f1f1;
    transition: 0.3s;
}

.ship-image {
    width: 300px;
    height: auto;
    margin-right: 10px;
    border-radius: 4px;
    vertical-align: middle;
}

.btn-success {
    display: inline-block;
    font-size: 16px;
}

.btn {
    font-size: 14px;
}

.modal-header {
    background-color: #198754;
    color: white;
}
