body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-content {
    margin-left: 240px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #343a40;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.table-striped tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.table tr:hover {
    background-color: #f1f1f1;
    transition: 0.3s;
}

.ship-image {
    width: 150px;
    height: auto;
    margin-right: 10px;
    border-radius: 4px;
    vertical-align: middle;
}

.btn-success {
    display: inline-block;
    font-size: 16px;
}

.btn {
    font-size: 14px;
}

/* Tombol aksi */
.btn-action {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
    margin-right: 5px;
    margin-top: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Tombol edit dengan warna kuning */
.btn-edit {
    background-color: #ffc107;
}

.btn-edit:hover {
    background-color: #e0a800;
}

/* Tombol hapus dengan warna merah */
.btn-delete {
    background-color: #dc3545;
}

.btn-delete:hover {
    background-color: #c82333;
}

.modal-header {
    background-color: #198754;
    color: white;
}

.image-container {
    display: flex;
    align-items: center;
}

.card-details {
    position: relative;
    padding-right: 60px;
}

.card-details .btn-group {
    position: absolute;
    right: 20px;
    top: 40px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
